.blog-page-container{
  background: url('../../assets/images/MenuPage/menu-bg.png');
  background-color: var(--white-2-color);
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
}

.blog-page {
  /* background: url('../../assets/images/MenuPage/menu-bg.png');
  background-size: contain;
  background-position: center;
  background-repeat: repeat; */
}


.blog-page-content-title {
  text-align: center;
  font-family: var(--FredokaOne);
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 18px;
}

/* blog-page-content-body-card */
.blog-page-content-body-card {
  background-color: var(--white-color);
  border-radius: 10px;
  padding: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.blog-page-content-body-card:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.blog-page-content-body-card-image {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  background-color: var(--gray-color);
}

.blog-page-content-body-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.blog-page-content-body-card-content {
  margin-top: 10px;
  padding: 7px;
}

.blog-page-content-body-card-content .blog-page-content-body-card-title {
  margin-bottom: 4px;
  font-family: var(--FredokaOne);
  color: var(--black-2-color);
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.blog-page-content-body-card-content .blog-page-content-body-card-description {
  margin-bottom: 10px;
  font-family: var(--Nunito);
  color: var(--gray-color);
  font-size: 1rem;
  font-weight: 400;
  height: 50px;
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  margin-bottom: 30px;
}

.blog-page-content-body-card-content .blog-page-content-body-card-date {
  margin-bottom: 4px;
  font-family: var(--Montserrat);
  color: var(--red-2-color);
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

/* Blog Detail Page Styles */
.blog-detail-container {
  background-color: var(--white-color);
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

/* Blog page specific hamburger menu color */
.blog-page .hamburger span {
  background: var(--black-2-color) !important;
}


@media screen and (max-width: 768px) {
  .blog-page-content-title{
    font-size: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .blog-page-content-title{
    font-size: 1.5rem;
  }
}