.catering-page {
  background: url('../../assets/images/Banner/catering.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 991px) {
  .catering-page {
    height: 80vh;
  }
}

@media screen and (max-width: 768px) {
  .catering-page {
    height: 70vh;
  }
}

@media screen and (max-width: 576px) {
  .catering-page {
    height: 50vh;
  }
}

@media screen and (max-width: 440px) {
  .catering-page {
    height: 40vh;
    background-size: cover;
  }
}

@media screen and (max-width: 390px) {
  .catering-page {
    height: 37vh;
    background-size: cover;
  }
}


/* ! Catering Banner */
.catering-banner {
  width: 60%;
  display: flex;
  align-items: center;
  /* vertical center */
  justify-content: flex-start;
  /* left align horizontally */
  height: 80%;
  /* or 100% if you want full section height */
  padding: 0 10px;
  position: relative;
}

.catering-banner-content {
  text-align: left;
}

.catering-banner-title {
  font-family: var(--FredokaOne);
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--white-2-color);
  margin-bottom: 5px;
}

.catering-banner-logo {
  font-family: var(--FredokaOne);
  font-size: 4rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  color: var(--white-color);
  text-shadow: 0 0 10px var(--red-2-color);
}

.catering-banner-desc {
  font-family: var(--Epilogue);
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--white-2-color);
}

.catering-contact-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 60%;
}

.catering-contact-link {
  font-family: var(--Archivo);
  font-size: 1rem;
  font-weight: 400;
  color: var(--white-2-color);
  margin-bottom: 4px;
  padding: 5px 10px;
  border-radius: 30px;
  border: 1px solid var(--white-2-color);
}


@media screen and (max-width: 768px) {
  .catering-banner-title {
    font-size: 1.3rem;
  }

  .catering-banner-logo {
    font-size: 2.5rem;
  }

  .catering-banner-desc {
    font-size: 1.1rem;
  }

  .catering-contact-link {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 576px) {
  .catering-banner {
    width: 70%;
  }

  .catering-banner-title {
    font-size: 1.1rem;
  }

  .catering-banner-logo {
    font-size: 2rem;
  }

  .catering-banner-desc {
    font-size: 1rem;
  }

  .catering-contact-link {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 440px) {
  .catering-banner {
    width: 90%;
  }

  .catering-banner-title {
    font-size: 1rem;
  }

  .catering-banner-logo {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }

  .catering-banner-desc {
    font-size: 0.55rem;
  }

  .catering-contact-links {
    width: 60%;
    gap: 5px;
  }

  .catering-contact-link {
    font-size: 0.6rem;
    padding: 3px 5px;
    font-weight: 300;
  }

  .catering-banner {
    padding: 0;
  }
}

@media screen and (max-width: 390px) {
  .catering-banner {
    width: 85%;
  }

  .catering-banner-title {
    font-size: 0.8rem;
    margin-bottom: 0;
  }

  .catering-banner-logo {
    font-size: 1.2rem;
    margin-bottom: 4px;
  }

  .catering-banner-desc {
    font-size: 0.45rem;
  }

  .catering-contact-links {
    width: 60%;
    gap: 5px;
  }

  .catering-contact-link {
    font-size: 0.5rem;
    padding: 1px 3px;
    font-weight: 300;
  }

  .catering-banner {
    padding: 0;
  }
}


/* ! Catering About Section */
.catering-about-section {
  background: var(--white-color);
  padding: 60px 0;
}

.catering-about-title {
  font-family: var(--Montserrat);
  font-size: 2.7rem;
  font-weight: 700;
  color: var(--red-color);
  text-align: center;
  margin-bottom: 25px;
}

.catering-about-feature {
  padding: 5px;
}

.catering-about-feature-icon {
  min-height: 82px;
}

.catering-about-feature img {
  /* min-width: 55px; */
  width: 55px;
  margin-bottom: 8px;
}

.catering-about-feature .catering-about-feature-title {
  font-family: var(--Montserrat);
  font-size: 1.4rem;
  font-weight: 700;
  color: #2d2d2d;
  text-align: center;
  margin-bottom: 5px;
}

.catering-about-feature .catering-about-feature-desc {
  font-family: var(--Montserrat);
  font-size: 1.05rem;
  font-weight: 400;
  color: var(--gray-color);
  text-align: center;
}


@media screen and (max-width: 768px) {
  .catering-about-title {
    font-size: 2.2rem;
  }

  .catering-about-feature-icon {
    min-height: 70px;
  }
}

@media screen and (max-width: 576px) {
  .catering-about-feature {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
    padding: 10px;
    border-radius: 12px;
  }

  .catering-about-title {
    font-size: 2rem;
  }

  .catering-about-feature-icon img {
    width: 45px;
  }
}

@media screen and (max-width: 440px) {
  .catering-about-title {
    font-size: 1.8rem;
  }

  .catering-about-feature .catering-about-feature-title {
    font-size: 1.2rem;
  }

  .catering-about-feature .catering-about-feature-desc {
    font-size: 1rem;
  }
}

@media screen and (max-width: 390px) {
  .catering-about-title {
    font-size: 1.6rem;
  }

  .catering-about-feature .catering-about-feature-title {
    font-size: 1.1rem;
  }

  .catering-about-feature .catering-about-feature-desc {
    font-size: 0.9rem;
  }
}



/* ! Catering Contact Section */
.catering-form-section {
  background: var(--white-color);
  padding: 60px 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.catering-flakes {
  position: absolute;
  width: 550px;
  height: 550px;
}

.catering-flakes-1 {
  top: -200px;
  left: -150px;
  transform: rotate(180deg);
}

.catering-flakes-2 {
  bottom: -150px;
  right: -180px;
  transform: rotate(180deg);
}

@media screen and (max-width: 576px) {
  .catering-flakes-1 {
    top: -160px;
    left: 0px;
    /* z-index: 1; */
  }

  .catering-flakes-2 {
    display: none;
  }
}


.catering-form-container {
  position: relative;
  background: var(--white-color);
  border-radius: 20px;
  box-shadow: 0 8px 32px 1px rgba(44, 44, 44, 0.2), 0 1.5px 6px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--black-2-color);
}

.catering-pizza-slice {
  position: absolute;
  top: -60px;
  left: -20px;
  width: 120px;
  height: 120px;
  z-index: 1;
}


.catering-form-container .catering-form-header-container {
  text-align: center;
  background: var(--red-color);
  padding: 20px;
  border-radius: 20px 20px 0 0;
}

.catering-form-container .catering-form-header-container .catering-form-title {
  font-family: var(--Fraunces);
  color: var(--white-color);
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 1px;
  margin-bottom: 5px;
}

.catering-form-container .catering-form-header-container .catering-form-desc {
  font-family: var(--Montserrat);
  color: var(--white-color);
  font-size: 1rem;
  font-weight: 400;
}



/* ! .catering-form-body-container */
.catering-form-body-container {
  padding: 30px;
}

.catering-form-body-container .catering-order-form {
  padding: 10px;
}

.catering-order-form label {
  text-align: left;
  display: block;
  font-weight: 500;
}

.catering-order-form .form-label {
  font-family: var(--Montserrat);
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray-color);
}

.catering-order-form input,
.catering-order-form select {
  border: none;
  padding: 8px;
}

.catering-order-form textarea {
  padding: 12px;
}

.catering-order-form input,
.catering-order-form select,
.catering-order-form textarea {
  background-color: rgba(255, 188, 188, 0.5) !important;
  border-radius: 10px;
  font-family: var(--Montserrat);
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray-color);
  padding: 10px;
}

.catering-order-form input:focus,
.catering-order-form select:focus,
.catering-order-form textarea:focus {
  background-color: rgba(255, 188, 188, 0.7) !important;
  border: none;
  outline: none;
  box-shadow: none;
}


.catering-order-btn {
  margin-top: 1rem;
  background: var(--red-2-color);
  color: #fff;
  border: 0;
  border-radius: 10px;
  padding: 0.5rem 3rem;
  font-family: var(--Montserrat);
  letter-spacing: 0.4px;
  font-size: 1.2rem;
  font-weight: bolder;
}

.catering-order-btn:hover {
  background: #ff4343;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .catering-form-body-container {
    padding: 10px;
  }

  .catering-form-body-container {
    padding-bottom: 40px;
  }

  .catering-form-header-container {
    padding-top: 30px !important;
  }

  .catering-form-container .catering-form-header-container .catering-form-desc {
    font-size: 0.9rem;
  }

  .catering-form-container .catering-form-header-container .catering-form-title {
    font-size: 2.2rem;
  }

  .catering-order-btn {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 576px) {
  .catering-form-body-container {
    padding: 0px;
    padding-bottom: 30px;
  }

  .catering-form-container .catering-form-header-container .catering-form-desc {
    font-size: 0.9rem;
  }

  .catering-form-container .catering-form-header-container .catering-form-title {
    font-size: 1.8rem;
  }

  .catering-form-body-container .catering-order-form {
    padding: 15px;
  }

  .catering-pizza-slice {
    width: 100px;
    height: auto;
  }

  .catering-order-form input,
  .catering-order-form select,
  .catering-order-form textarea {
    font-size: 0.9rem;
    font-weight: 400;
  }
}

@media screen and (max-width: 480px) {

  .form-label{
    font-size: 0.9rem;
  }

  .form-control,
  .form-select{
    font-size: 0.9rem;
  }

  .catering-order-btn {
    font-size: 0.9rem;
  }

  .catering-form-container .catering-form-header-container .catering-form-desc {
    font-size: 0.9rem;
  }

  .catering-form-container .catering-form-header-container .catering-form-title {
    font-size: 1.5rem;
  }

  .catering-pizza-slice {
    width: 80px;
    height: auto;
    top: -40px;
  }
}



.contact-success-message {
  background: #d4f7e0;
  color: #1a4d2e;
  border: none;
  border-radius: 10px;
  padding: 8px 20px;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.contact-success-message i{ 
  font-size: 1.1rem; 
}


@media screen and (max-width: 991px) {
  .contact-success-message {
    font-size: 1rem;
  }
}



.catering-banner-logo img{
  width: 120px;
  margin-right: 12px;
}

@media screen and (max-width: 576px) {
  .catering-banner-logo img{
    width: 80px;
  }
}