.footer-container {
    background-color: #231F20;
    color: var(--white-color);
    position: relative;
}


.footer-bg{
    position: absolute;
    object-fit: cover;
}

.footer-bg-1{
    top: 5%;
    left: 1%;
    width: 60px;
    transform: rotate(50deg);
}

.footer-bg-2{
    bottom: 0;
    right: 2%;
    width: 80px;
}

@media screen and (max-width: 992px) {
    .footer-bg-1{
        top: 5%;
        left: 1%;
        width: 60px;
    }
    
    .footer-bg-2{
        bottom: 5%;
        right: 2%;
        width: 80px;
    }
}

@media screen and (max-width: 576px) {
    .footer-bg-1{
        top: 1%;
        left: 1%;
        width: 60px;
    }
    
    .footer-bg-2{
        bottom: 4%;
        right: 8%;
        width: 70px;    
    }
}



/* ! footer about section */
.footer-about-section {
    text-align: left;
}

.footer-about-section .footer-logo {
    width: 200px;
    margin-bottom: 10px;
}

.footer-about-section p {
    font-size: 1rem;
    font-family: var(--Poppins);
}

/* ! footer contact section */
.footer-contact-section {
    text-align: left;
}

.footer-contact-section .address {
    min-height: 50px;
}

.footer-contact-section p {
    font-size: 1rem;
    font-family: var(--Poppins);
    margin-bottom: 8px;
}

.footer-contact-section-link{
    font-size: 1rem;
    font-family: var(--Poppins);
    text-decoration: none;
    color: var(--white-color);
    display: block;
    margin-bottom: 8px;
    transition: all 0.2s ease;
}

.footer-contact-section-link:hover{
    color: var(--red-6-color);
}

.footer-contact-section-link .opening-hours {
    font-size: 1rem;
    font-family: var(--Poppins);
}

.footer-contact-section-link .opening-hours .opening-hours-title {
    font-family: var(--Poppins);
    margin-bottom: 7px;
}

.footer-contact-section-link .opening-hours .opening-time {
    margin-bottom: 8px;
    font-family: var(--Poppins);
}

/* ! footer links section */
.footer-links-section {
    text-align: left;
}

.footer-links-section .footer-links-section-title {
    font-size: 1.2rem;
    font-family: var(--Poppins);
    margin-bottom: 8px;
}

.footer-links-section-link{
    text-decoration: none;
    color: var(--white-color);
    font-size: 1rem;
    font-family: var(--Poppins);
    display: block;
    margin-bottom: 2px;
    transition: all 0.2s ease;
}

.footer-links-section-link:hover{
    color: var(--red-6-color);
}


.footer-links-section li {
    list-style: none;
}

.footer-links-section li a {
    text-decoration: none;
    font-family: var(--Poppins);
    color: var(--white-color);
}

.footer-social-icons {
    display: flex;
    align-items: center;
    gap: 5px;
}

@media screen and (max-width: 576px) {
    .footer-about-section {
        text-align: center;
    }

    .footer-contact-section {
        text-align: center;
    }

    .footer-links-section {
        text-align: center;
    }
    .footer-about-section p{
        font-size: 0.9rem;
    }
}

/* ! footer line seperation */
.footer-line-seperation img {
    width: 90%;
}

/* ! footer copyright section */
.footer-copyright-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
}

.footer-copyright-section p {
    font-size: 1rem;
    font-family: var(--Poppins);
    margin-bottom: 10px;
}

.footer-copyright-section .maghil-logo {
    width: 120px;
}

@media screen and (max-width: 576px) {
    .footer-copyright-section {
        gap: 0px;
    }

    .footer-copyright-section .maghil-logo {
        width: 100px;
        display: inline-block;
    }
    .footer-social-icons{
        justify-content: center;
    }
}


.footer-up {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.footer-up-link {
    text-decoration: none;
    background-color: var(--white-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.footer-up-link i {
    color: var(--black-2-color);
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 0px;
}

@media screen and (max-width: 576px) {
    .footer-contact-section .address {
        min-height: auto;
    }
    .footer-up-link{
        width: 25px;
        height: 25px;
    }

    .footer-up-link i{
        font-size: 0.9rem;
    }
}

.maghil-desktop-logo{
    width: 100px;
}


.footer-links-section .social-media-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.social-media-container .social-media-title {
    font-size: 1rem;
    font-family: var(--Poppins);
    margin-bottom: 8px;
}

.footer-social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.social-media-container .footer-social-icons i {
    font-size: 1rem;
    background-color: var(--white-color);
    color: var(--red-color);
    margin-right: 5px;
    padding: 5px;
    border-radius: 50%;
}

.social-media-container .footer-social-icons i:hover {
    color: var(--black-2-color);
}